  body {
    color: white;
    background-color: black;
  }
  
  .catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
  }

  .links {
    margin-left: 100px;
  }

  .link {
    text-decoration: none;
    margin-right: 20px;
    color: #f0f0f0;
    font-size: 20px;
  }

  .link:hover {
    color: rgb(235, 48, 48);
  }

  .currlink {
    text-decoration: none;
    margin-right: 20px;
    color: red;
    font-size: 20px;
  }
  
  .currlink:hover {
    color: rgb(235, 48, 48);
  } 