body {
    margin: 0px;
    height: 100vh;
}

#content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 50px 1fr;
}

#visualisation_field {
    height: 100%;
    width: 100%;
}

#field {
    height: 100%;
    width: 100%;
    /* background-color: #403d39; */
}

#settings_bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#mode_panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
