body {
    margin: 0px;
}

#content {
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 100vh;
}

#settings_bar {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.module {
    padding: 15px;
}

#mode {
    display: grid;
}


#visualisation_field {
    padding: 25px;
    display: grid;
}

#field {
    height: 100%;
    aspect-ratio: 1/1;
    border: 1px solid;
    align-self: center;
    justify-self: center;
}